<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <link type="text/css" rel="styleSheet" href="static/css/main.css">
</head>
<body style="padding: 10px">

{% for group in groups %}

<div class="container">
  <div class="container-header">{{ group.name }}</div>
  <div class="container-body">
    {% for item in group.items %}
    <div class="item-block">
      <a href="{{ item.url }}" target="_blank" >
      <div class="item-top">
        <div class="item-logo"><img src="static/{{ item.logo_url }}"></div>
        <div class="item-body">
          <span class="title">{{ item.name }}</span>
          <span class="notice">{{ item.notice }}</span>
        </div>
      </div>
    </a>
        <div class="item-bottom">
          <a href="{{ item.manual_url }}" target="_blank">
          <div>{{ item.manual_name }}</div>
        </a>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endfor %}
</body>
</html>